#header {
  background-color: lightblue;
  height: 200px;
}
#pagecontent {
  background-color: wheat;
  height: 400px;
  margin: 5px;
  border: 1px solid green;
}
#footer {
  background-color: lightgreen;
  height: 50px;
}
